{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}ggg! ✅</h1>

    {% set champsonglet = [] %}
    {% if app.request.get("type") == "ARTICLE" %}
{% include 'models/article.html.tiwg'  with {'foo': 'bar'}%}
    {% endif %}

    {% if app.request.get("type") == "TABLEAU" %}
        {% for ch in champs %}
         {% if 'ong'~app.request.get('ong') in ch|keys  %}
         {% set champsonglet = champsonglet | merge(ch) %}
         {% endif%}
        {% endfor %}
        {% include 'models/tableau.html.twig'  with {'source': champsonglet['sour'~app.request.get('ong')] ,'champs': champsonglet['ong'~app.request.get('ong')]}%}
    {% endif %}
</div>
{% endblock %}
