{% extends 'base.html.twig' %}

{% block title %}Hello FilesController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        {% if reps is defined  %}
            {% for rep in reps %}

        <li><a href="{{"files/"~ rep.relativePathname }}">{{ rep.relativePathname }}</a></li>
                {% for files in filesinrep[rep.relativePathname] %}
                    <a  rel="prerender" href="files?name={{ files.relativePathname }}">{{ files.relativePathname }}</a>

                {%  endfor %}
          {% endfor %}
        {% endif %}
        <br/>

        <a rel="prefetch" href="/admin">admin</a>
    {{ content | raw }}

        <li>Your template at <code><a href="{{ '/app/myapp/templates/files/index.html.twig'|file_link(0) }}">templates/files/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
