<h1>Tableau</h1>


<div class="container">
    <h2>{{ source }}</h2>

    <table class="table">
        <thead>
        <tr>
            {% for ch in champs %}
               {% if ch.visible == true %}
                <th>{{ ch.label }}</th>
                {% endif %}
            {% endfor %}


        </tr>
        </thead>
        <tbody>

        {% for  sql in menu.slqdqta(source) %}


        <tr>
            {% for ch in champs %}
                {% if ch.visible == true %}
                <td>{{ sql[ch.name] }}</td>
                {% endif %}
            {% endfor %}
        </tr>

        {% endfor %}
        </tbody>
    </table>
</div>