<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
         <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script rel="prefetch" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script rel="prefetch" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script rel="prefetch" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
{% set champs = [] %}
    <nav class="navbar navbar-expand navbar-light bg-faded">
        <a class="navbar-brand" href="#">Navbar</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

            {% for menu in menu.index  %}
                {% if menu.sousMenus.count == 0 %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ menu.url }}">{{ menu.name}} <span class="sr-only">(current)</span></a>
                    </li>
                {% else %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="{{ menu.name }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ menu.name}}</a>
                        <div class="dropdown-menu" aria-labelledby="{{ menu.name }}">

                            {% for ssm in menu.sousMenus(menu) %}
                                {% for ong in ssm.onglets %}

                            {% set champs = champs | merge ([{('ong'~ong.id): ong.champs,('sour'~ong.id):ong.source.tablename}]) %}
                                    <a class="dropdown-item" href="{{ menu.url~ong.path ~'?type='~ong.onglettype~"&ong="~ong.id }}">{{ ong.label }}</a>
                                {% endfor %}
                            {% endfor %}

                        </div>
                    </li>
                {% endif %}

            {% endfor %}


        </ul>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
        {% block body %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
