{% extends '@EasyAdmin/layout.html.twig' %}

{% set _content_title = 'Admin dashboard' %}

{% block page_title -%}
    {{ _content_title }}
{%- endblock %}

{% block content_header %}
    <h1 class="title">{{ _content_title }}</h1>
{% endblock %}

{% block main %}
    <div class="row">
  <i class="fas fa-hand-holding    ">ssss</i>
  {% apply markdown_to_html %}
markdown
Markdown | Moins | Joli
--- | --- | ---
*s'aligne* | `encore` | **joliment**
1 | 2 | 3
{% endapply %}
    </div>
{% endblock %}
