
<nav class="navbar navbar-expand navbar-light bg-faded">
    <a class="navbar-brand" href="/">Navbar</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

        {% for menu in menu.index  %}
            {% if menu.sousMenus.count == 0 %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ menu.url }}">{{ menu.name}} <span class="sr-only">(current)</span></a>
                </li>
            {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="{{ menu.name }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ menu.name}}</a>
                    <div class="dropdown-menu" aria-labelledby="{{ menu.name }}">
                        {% for ssm in menu.sousMenus(menu) %}
                            {% for ong in ssm.onglets %}
                                 {{ ong.champs[0].name }}
                                <a class="dropdown-item" href="{{ ong.path ~'?type='~ong.onglettype~"&ong="~ong.id~"&source="~ong.source.tablename }}">{{ ong.label }}</a>
                                {% endfor %}
                        {% endfor %}

                    </div>
                </li>
            {% endif %}

        {% endfor %}


    </ul>

    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>

