{% extends 'base.html.twig' %}

{% block title %}Hello FilesController!{% endblock %}

{% block body %}

{% for pr in products %}
  Nom  :   {{ pr.title }}<br/>
  Article :   {{ pr.author}} <br/>

  {% for ch in pr.chapitres %}
    _______________________________________
     {{ ch.ordre }}
    {{ ch.id }}
    <h2>{{ ch.titre |raw  }}</h2>
    {{ ch.texte |raw  }}
________________________________________
  {% endfor%}

{% endfor%}
{% endblock body %}